body {
    background-color: rgb(219, 157, 219);
  }
  
  .gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gif {
    padding: 0 2px;
  }
  
  .loader {
    color: rgb(19, 19, 26);
  }